%section#top-header.row
  %h1.span2
    = link_to "Mailgun Demo"
  - if current_user
    %ul.span4.clearfix
      %li= link_to "billing", billing_path

    #user_links.pull-right
      %ul
        %li.dropdown
          %a(href="#" id="dlabel" role="button" data-toggle="dropdown" class="dropdown-toggle" data-target="#")
            Welcome,
            = current_user.fullname
            %b.caret
          %ul.dropdown-menu(role="menu" aria-labelledby="dlabel")
            %li
              = link_to "Account", edit_user_path(current_user)
              = link_to "Issues", issues_path if current_user.is_admin
              = link_to "Plan and Billing", billing_path
              = link_to "Sign Out", sign_out_path
